<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<configuration>

	<property name="LOG_PATH" value="c://logs" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}//archived" />
	<timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}//debug-${timestamp-by-second}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_ARCHIVE}//debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="org.hibernate.SQL" level="debug" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="org.hibernate" level="error" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
	</root>

</configuration>